*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    // PIXEL px (é absoluto)
    
    // section
    .primeira-sessao{
        border: solid rgb(133, 133, 233) 4px;
    
    // borda: 3 valores
    // solid, tipo da bord; cor, espessura
    // aninhamento, organiza os estilos das tags de acordo com a sua organização hereditaria
    // apenas a div que está dentro da primeira sessão vai receber este estilo.
    
    div
    // largura
    width: 200px;
    // cor de fund
background-color: 
orangered;
height: 200px;

    
     }